<!doctype html>
<html lang="is">
<head>
  <meta charset="utf-8">
  <title>404 - Síða fannst ekki</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    <header>
      <h1>404 - Síða fannst ekki</h1>
      <ul>
        <li><a href="/">Forsíða</a></li>
      </ul>
    </header>
    <section>
      <p>Því miður, síðan sem þú ert að leita að fannst ekki.</p>
      <p>Vinsamlegast athugaðu slóðina eða farðu aftur á <a href="/">forsíðu</a>.</p>
    </section>
  </main>
</body>
</html>
