<%- include('header') -%>

<ul class="index-list">
  <% for (const category of categories) { %>
    <li><a href="/spurningar/<%=category.id%>"><%=category.name%></a></li>
  <% } %>
</ul>

<%- include('footer') -%>